
/* Configurações do bloco da barra do topo*/
.barra-topo {
    display: flex;
    height: 54px;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    background-color: #FFFFFF;
    border-bottom: 1px solid #DBDBDB;
    position: fixed;
    top: 0;
	left: 0;
    z-index: 1;
}

.barra-topo-icones-esquerda {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 145px; 
}

.barra-topo-icones-esquerda img {
    width: 103px;
    height: 29px;
}

.barra-pesquisar{
    background-color: #FAFAFA;
    width: 215px;
    height: 28px;
    border-radius: 3px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.barra-topo-icones-direita {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 125px; 
}

.separador-vertical {
    background-color: #DBDBDB;
    width: 1px;
    height: 22px;
}

/* Configurações do bloco de stories*/

.stories{
    width:100%;
    background-color: #FFFFFF;
    border-radius: 3px;
    border: 1px solid #DBDBDB;
    display: flex;
    width: 614px;
    height: 118px;
    margin-top: 34px;
    margin-bottom: 24px;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    padding-left: 11px;
    gap: 20.5px;
}

.encapsula-stories{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.encapsula-stories{
    position: relative;
}

.storie-content {
    width: 56px;
    height: 56px;
    border-radius: 28px;
    left: 238px;
    top: 111px;
}

.encapsula-stories img:first-child{
    position: absolute;
    width: 66px;
    height: 66px;
    border-radius: 33px;
}

.conf-seta-stories{
    position: absolute;
    padding: 16px;
    right: 21px;
}

/* Configurações dos blocos do feed*/
.primeiro-bloco {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: center;
    width: 614px;
    height: 749px;
    margin-bottom: 60px; 
    border-radius: 3px;
    border: 1px solid #DBDBDB;
    background-color: #FFFFFF;
}


.primeiro-bloco-2 {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: center;
    /* background-color: brown; */
    width: 614px;
    height: 749px;
    margin-bottom: 60px;
    border-radius: 3px;
    border: 1px solid #DBDBDB;
    background-color: #FFFFFF;
}

.primeiro-bloco-3 {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: center;
    width: 614px;
    height: 749px;
    border-radius: 3px;
    border: 1px solid #DBDBDB;
    background-color: #FFFFFF;
}

.foto-feed {
    width: 612px;
    height: 612px;
}

/* Cabeçalhos do bloco do feed*/
.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width:100%;
}

.cabecalho-imagens-1{
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.cabecalho-imagens-1 img{
    width: 32px;
    height: 32px;
    margin-right: 15px;
}

.cabecalho-imagens-2-1{
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.cabecalho-imagens-2-1 img{
    width: 17px;
    height: 17px;
    margin-right: 15px;
}

/* Configurações do bloco de feed - parte de baixo*/

.divisao-qte-curtidas{
    margin-left: 17px;
    margin-right: 5px;
    margin-bottom: 14px; 
}

.divisao-qte-curtidas-texto{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 16px;
}

.baixo-publi-compl{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 76px;
    width:100%;
}

.baixo-publi{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
}


.curtidas{
    display: flex;
    width: 614px;
    align-items: flex-start;
    width:100%;
}

.curtidas img {
    width: 20px;
    height: 20px;
}

.post-completo{
    display: flex;
    margin-top: 50px;
}

.bloco-envolta-post{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.bloco-feed{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* Configurações do bloco a direita*/
.bloco-direita{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 292px;
    height: 452px; 
    margin-top: 34px;
    position: sticky;
    top: 84px;
    z-index: 1;
}

.bloco-direita-cabecalho {
    display: flex;
    align-items: center;
}

.logos {
    width: 56px;
    height: 56px;
    border-radius: 28px;
}

.logos-2 {
    width: 32px;
    height: 32px;
    border-radius: 16px;
}


.mini-bloco-1{
    display: flex;
    justify-content: space-between;
}

.mini-bloco-2{
    display: flex;
    justify-content: space-between;
}

.mini-bloco-2-1{
    display: flex;
}

.mini-bloco-2-2{
    display: flex;
    flex-direction: column;
    margin-left: 11px;
}

.separador-vertical-2 {
    background-color: #FAFAFA;;
    width: 28px;
    height: 85px;
}

.vector-1{
    font-size: 22px;
}

/*Posições relativas dentro do storie.*/

.img-storie-1{
    left: 238px;
    top: 111px;
}


.back-img-storie-1{
    left: -5px;
    top: -5px;
}

.img-storie-2{
    left: 318px;
    top: 111px;
}


.back-img-storie-2{
    left: -5px;
    top: -5px;
}

.img-storie-3{
    left: 398px;
    top: 111px;
}


.back-img-storie-3{
    left: -5px;
    top: -5px;
}

.img-storie-4{
    left: 478px;
    top: 111px;
}


.back-img-storie-4{
    left: 5px;
    top: -5px;
}

.img-storie-5{
    left: 558px;
    top: 111px;
}


.back-img-storie-5{
    left: 1px;
    top: -5px;
}

.img-storie-6{
    left: 638px;
    top: 111px;
}


.back-img-storie-6{
    left: -3px;
    top: -5px;
}

.img-storie-7{
    left: 718px;
    top: 111px;
}


.back-img-storie-7{
    left: -1px;
    top: -5px;
}

.img-storie-8{
    left: 798px;
    top: 111px;
}


.back-img-storie-8{
    left: -spx;
    top: -5px;
}

/*Configuração das fontes e estilos de texto da página*/
.font-principal{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #262626;
    margin-top: 6px;
    font-size: 12px;
    line-height: 14px;
    
}

.font{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:  #979797;
}

.font-sub-bloco-escrita{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    color: #262626;
}

.sub-font-bloco-escrita{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    line-height: 14px;
    color: #8E8E8E;
}

.sub-font-bloco-escrita-black{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    line-height: 14px;
    color: #262626;
}

.sub-bloco-escrita{
    margin-left: 17px;
}

.sub-bloco-escrita:nth-child(2){
    color: #979797;
}

.font-negrito{
    font-weight: bold;
}

.font-azul{
    color: #139EF2;
}

.sub-font-infos-instagram{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 11px;
    line-height: 13px;
    color: #C7C7C7;
}

/*Configuração dos ion-icon*/
ion-icon[name="compass-outline"]{
    font-size: 22px;
}

ion-icon[name="heart-outline"]{
    font-size: 22px;
}

ion-icon[name="logo-instagram"]{
    font-size: 22px;
} 

ion-icon[name="person-outline"]{
    font-size: 22px;
} 

ion-icon[name="ellipsis-horizontal-outline"]{ /*COMO COLOCAR O ION-ICON PARA O LADO?*/
    margin-right: 15px;
    font-size: 22px;
}

ion-icon[name="bookmark-outline"]{ /*COMO COLOCAR O ION-ICON PARA O LADO?*/
    margin-right: 15px;
    font-size: 17px;
}


/*Bloco da página completa*/
.corpo-pagina{
    background-color: #FAFAFA;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/* ---------------------------------------------------------------------------------------------------------------*/
/*Configurações Media query*/
@media (max-width: 935px) {
	body {
		width: 100%;
	}

    .barra-topo {
        width: 100%;
        margin: 0 auto;
    }

    .bloco-direita{
        display: none;
    }

    .separador-vertical-2 {
        display: none;
    }

    .corpo-pagina{
        width: 100%;
        justify-content: center;
    }
    
}

@media (max-width: 614px) {
	body {
		width: 100%; 
	}


    .barra-topo {
        width: 100%;
        margin: 0 auto;
        
    }

    .separador-vertical {
        display: none;
    }

    .barra-topo-icones-esquerda {
        width: 50%; 
    }

    ion-icon[name="compass-outline"]{
        display: none;
    }
    
    ion-icon[name="person-outline"]{
        display: none;
    }

    ion-icon[name="heart-outline"]{
        display: none;
    }

    .barra-topo-icones-direita {
        width: 25%;
        justify-content: flex-end; 
    }

    .bloco-direita{
        display: none;
    }

    .corpo-pagina{
        width: 100%;
    }

    .bloco-feed{
        width: 100%;
    }

    .bloco-envolta-post{
        width: 100%;
        margin: 0 auto;
    }

    .post-completo{
        width: 100%;
    }

    .primeiro-bloco{
        width: 100%;
    }

    .primeiro-bloco-2{
        width: 100%;
    }

    .primeiro-bloco-3{
        width: 100%;
    }

    .stories{
        margin-top: 0px;
        margin-bottom: 0px;
        width:100%;
        background-color: #FAFAFA;
        border: 0px;
    }

    .barra-pesquisar{
        display: none;
    }

    .foto-feed {
        width: 100%;
    }

    .conf-seta-stories{
        display: none;
    }


}